.header {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    a {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 10px;
        color:white;
        svg {
            width: 18px;
            margin-right: 5px;
        }
    }
    a:hover 
    {
        text-decoration: none;
        color:orangered
    }
}
.last
{
    text-align: right;
}